.git
.github
.venv_pdf
**/__pycache__
**/.pytest_cache
**/.ruff_cache
**/.mypy_cache
**/.venv
**/node_modules
**/.next
!apps/web/.next/
!apps/web/.next/standalone/
!apps/web/.next/standalone/**
!apps/web/.next/static/
!apps/web/.next/static/**
**/test-results
.pnpm-store
.env
